<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
<div id="one" style=" ">
    <div class="mt-2"
        style="width: 100%; position: absolute;top: 0; display: flex;align-items: center;justify-content: space-between;">
        <a href="javascript:location.reload();" style="text-decoration: none;">
            <img src="/design/logotradelink2.png" class="ml-5" alt="Trade-Link Logo" style="width: 160px; cursor: pointer;">
        </a>
        {{#if wuser}}
        <div class=" mr-5">
            {{#if wuser}}
            {{#if onoff}}
            <div class="pt-2"
                style=" height: auto;margin: 0; display: flex;justify-content: center;align-items: center; gap: 19px;">
                <label class="switch">
                    <input type="checkbox" checked onchange="toggleChange(true)">
                    <span class="slider round"></span>
                </label>
            </div>
            {{else}}
            <div style="height: auto;margin: 0; display: flex;justify-content: center;align-items: center; gap: 14px;">
                <p class="moving-arrow mb-2 " style="margin: 0;">&#8594;</p>
                <label class="switch">
                    <input type="checkbox" onchange="toggleChange(false)">
                    <span class="slider round"></span>
                </label>
            </div>
            {{/if}}
            <form id="statusForm" action="/workers/setstatus" method="post" enctype="multipart/form-data"
                style="display: none;">

                <label><input type="radio" name="status" value="true"> I Am Available</label><br>
                <label><input type="radio" name="status" value="false"> I Am Not Available</label><br>

                <input type="submit" value="Submit">
            </form>
            {{/if}}
            <div id="logoutdiv" onmouseover="this.style.backgroundColor='#ddd';"
                onmouseout="this.style.backgroundColor='transparent';" class="p-1 pl-3 pr-3"
                style="display: none; border: 1px solid black; position: absolute;top: 74px;right: 6px; background-color: #ffff;border-radius: 12px;">
                <a href="/workers/logout"
                    style="text-decoration: none;color: black;font-family: 'Poppins', sans-serif;">Logout</a>
            </div>
        </div>

        {{else}}
        <a href="/workers/login" class='mr-5 pl-3 pr-3 pt-1 pb-1'
            style="text-decoration: none; border: 1px solid black;  display: flex;align-items: center;justify-content: center;gap: 5px; color: black; border-radius: 12px;">
            Login
            <img src='/design/arrow_icon.svg' alt="Arrow" className='w-4 h-4' />
        </a>
        {{/if}}
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center"
        style="font-family: 'Poppins', sans-serif; min-height: 100vh;margin-top: 45px;">
        <div id="imganddiv" class="d-flex  align-items-center  justify-content-center text-center text-dark">
            <img src="/design/adminavatar.png" class="rounded-circle mb-4" style="width: 27rem; height: 37rem;" alt="">
            <div class="text-center pl-3"
                style="display: flex;flex-direction: column;align-items: center;justify-content: center;gap: 16px;">
                {{!-- <h1
                    style="font-size: 33px; color: #1F2937; font-weight: 600;   font-family: 'Poppins', sans-serif;"
                    class=" d-flex align-items-center gap-2 h4 fw-medium mb-2">
                    Hey {{#if wuser}}{{wuser.name}}{{else}}Worker{{/if}}
                    <img class="ml-2" src="/design/hand_wave.png" alt="" style="width: 2rem; height: 2rem;">
                </h1> --}}
                <h1 style="font-size: 33px; color: #1F2937; font-weight: 600;   font-family: 'Poppins', sans-serif;"
                    class=" d-flex align-items-center gap-2 h4 fw-medium mb-2">
                    Hey {{#if wuser}}{{wuser.name}}{{else}}There{{/if}}
                    <img class="ml-2" src="/design/hand_wave.png" alt="" style="width: 2rem; height: 2rem;">
                </h1>
                <h2 class="h2 fw-semibold m-0 "
                    style="font-size: 43px; color: #1F2937; font-weight: 800;    font-family: 'Poppins', sans-serif;">
                    welcome
                    to
                    workers platform</h2>
                <div style="width: 100%; display: flex;align-items: center;justify-content: center;">
                    <p id="des" class="m-0"
                        style="max-width: 35rem;color: #1F2937; font-weight: 300;   font-family: 'Poppins', sans-serif;">
                        <span style="font-weight: 800;">{{#if wuser}}{{wuser.name}}{{else}}Worker{{/if}}</span>
                        , if you want to receive work from customers, you must be online otherwise, you won't get
                        any work.
                    </p>
                </div>

                <a href="/workers/confirm" id="startbtn" class="btn  rounded-pill px-4 py-2 mt-2"
                    style="color: black; border-radius: 12px;  font-family: 'Poppins', sans-serif; margin-bottom: 13px;">Get
                    Started <img src="/design/arrow_icon.svg" alt=""></a>
            </div>
        </div>
    </div>

</div>
<style>
    .moving-arrow {
        font-size: 35px;
        margin: 0;
        display: inline-block;
        position: relative;
        color: #ccc;

        animation: shakeArrow 0.5s infinite alternate ease-in-out;
    }

    @media screen and (max-width: 768px) {

        #imganddiv {
            flex-direction: column;
            justify-content: center;
        }


    }

    #startbtn {
        border: solid .5px;
    }

    #startbtn:hover {
        background-color: rgb(204, 204, 204);
    }

    #one {
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url(/design/bg_img.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    #one::-webkit-scrollbar {
        display: none;
    }

    .switch {
        position: relative;
        display: inline-block;
        top: 3px;
        width: 60px;
        height: 24px;


        /* Set height to 24px */
    }

    /* Hide default checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        border-radius: 24px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        /* Ensures full round shape */
        transition: .4s;
    }

    /* The slider knob (circle) */
    .slider:before {
        position: absolute;
        content: "";
        height: 18px;
        /* Adjusted knob size */
        width: 18px;
        left: 3px;
        /* Adjusted for proper spacing */
        bottom: 3px;
        background-color: white;
        border-radius: 50%;
        transition: .4s;
    }

    /* When the toggle is ON */
    input:checked+.slider {
        background: linear-gradient(90deg, #acfc80, #efffe2);
    }

    /* Small focus effect */
    input:focus+.slider {
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    }

    /* Move the knob fully to the right */
    input:checked+.slider:before {
        transform: translateX(34px);
        /* Adjusted for full movement */
    }


    @keyframes shakeArrow {
        0% {
            transform: translateX(5px);
            /* Slight move to right */
        }

        100% {
            transform: translateX(-5px);
            /* Slight move to left */
        }
    }

    @keyframes zoomIn {
        from {
            transform: scale(0.8);
            opacity: 0;
        }

        to {
            transform: scale(1);
            opacity: 1;
        }
    }
</style>

<script>
    function toggleChange(boolean) {
        let form = document.getElementById("statusForm");

        // Get the toggle switch state
        let isChecked = document.querySelector(".switch input").checked;
        if (isChecked) {
            let availableRadio = document.querySelector("input[name='status'][value='true']");
            availableRadio.checked = isChecked;
        }
        else {
            let notAvailableRadio = document.querySelector("input[name='status'][value='false']");
            notAvailableRadio.checked = !isChecked;
        }
        form.submit();
    }

</script>